extends layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3.signup
        h1.display-4.m-b-2 Sign Up

        form(action='/signup', method='POST')
          div.form-group
            label(for='email') Email / User Name:
            input#email.form-control(type='email', placeholder='name@email.com', name='username')
          div.form-group
            label(for='pw') Password:
            input#pw.form-control(type='password', name='password')
          div.form-group
            label(for='pw2') Confirm Password:
            input#pw2.form-control(type='password', name='confirmPassword')
          div.form-group
            label(for='name') Name name:
            input#name.form-control(type='text', placeholder='name', name='name')
          div.form-group
            label(for='companyName') company:
            input#company.form-control(type='text', placeholder='Company name', name='company')
          button#signup.btn.btn-primary(type='submit') Sign up

        if message
          h1.text-center.error-message #{message}

  //- script(src="/javascripts/index.js")
