<div class="wrapper">
    <div class="sidebar" data-color="custom">
        <!-- add an image using data-image tag -->

        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="/" class="simple-text">
                    {{ company }}
                </a>
            </div>

            <ul class="nav">
                <li class="active">
                    <a href="dashboard.html">
                        <i class="pe-7s-graph"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="user.html">
                        <i class="pe-7s-user"></i>
                        <p>Leads</p>
                    </a>
                </li>
                <li>
                    <a href="table.html">
                        <i class="pe-7s-note2"></i>
                        <p>Marketing</p>
                    </a>
                </li>
                <li>
                    <a href="typography.html">
                        <i class="pe-7s-news-paper"></i>
                        <p>Sales</p>
                    </a>
                </li>
                <li>
                    <a href="icons.html">
                        <i class="pe-7s-science"></i>
                        <p>Operations</p>
                    </a>
                </li>
                <li>
                    <a href="maps.html">
                        <i class="pe-7s-map-marker"></i>
                        <p>Locations</p>
                    </a>
                </li>
                <li>
                    <a href="notifications.html">
                        <i class="pe-7s-bell"></i>
                        <p>Notifications</p>
                    </a>
                </li>
                <li class="active-pro">
                    <a href="/logout">
                        <i class="pe-7s-rocket"></i>
                        <p>Log out</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-panel">
        <div class="content">
            <div class="container-fluid">
                <script type='text/javascript'
                    src='http://tableau.pivotalinsights.io/javascripts/api/viz_v1.js'></script>
                <div class='tableauPlaceholder' style='width: 1000px; height: 1300px;'>
                    <object class='tableauViz' width='1000' height='1300' style='display:none;'>
                        <param name='host_url' value='http%3A%2F%2Ftableau.pivotalinsights.io%2F' />
                        <param name='embed_code_version' value='3' />
                        <param name='site_root' value='' />
                        <param name='name' value='ClosingandPipelineSummary&#47;CLOSINGANDPIPELINESUMMARY' />
                        <param name='tabs' value='no' />
                        <param name='toolbar' value='yes' />
                        <param name='showAppBanner' value='false' />
                        <param name='filter' value='iframeSizedToWindow=true' />
                    </object>
                </div>
            </div>
        </div>


        <script>
            ticket = {{ ticket }};
            var viz;

            window.onload = function () {
                //document.getElementById("myVizContainer").innerHTML = ticket;
                /********** Bootstrap the Viz **********/

                var placeholder = document.getElementById("myVizContainer");
                // var url = "http://mkovner-vm/trusted/" + ticket + "/t/rest/views/AboutCerebral/Story1"; //Kovner's
                var url = "http://tableau.pivotalinsights.io/trusted/" + ticket + "/t/default/views/CommissionsEarly/Closing"; //Russell's
                var options = {
                    width: "900px",
                    height: "750px",
                    hideTabs: true,
                    hideToolbar: true,
                    onFirstInteractive: function () {
                        var story = viz.getWorkbook().getActiveSheet();
                        var numPoints = story.getStoryPointsInfo().length;
                        setInterval(function () {
                            if (story.getActiveStoryPoint().getIndex() === numPoints - 1) {
                                story.activateStoryPointAsync(0);
                            } else {
                                story.activateNextStoryPointAsync();
                            }
                        }, 6500);
                    }
                };

                viz = new tableauSoftware.Viz(placeholder, url, options);

            };
        </script>
    </div>
</div>